.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #333;
}

.userSection {
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoutButton {
    width: 200px;
    height: 50px;
    font-size: large;
    background-color: #666;
    color: #fff;
    border: none;
}

.user {
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
}

@media (max-width: 768px) {

    .nav,
    .settings {
        display: none;
    }

    .user {
        color: #fff;
        font-size: 1rem;
    }


}